/* global */
$headerHeight: 80px;
$footerHeight: 20px;
$maxPageWidth: 1280px;
$maxHalfPageWidth: 640px;

/* colors */
$backgroundColor: var(--backgroundColor);
$textColor: var(--textColor);
$subTextColor: var(--subTextColor);
$highlightTextColor: var(--highlightTextColor);
$disabledColor: var(--disabledColor);
$borderColor: var(--borderColor);
$buttonBackgroundColor: var(--buttonBackgroundColor);
$buttonTextColor: var(--buttonTextColor);
$secondButtonBackgroundColor: var(--secondButtonBackgroundColor);
$secondButtonTextColor: var(--secondButtonTextColor);

$footerColor: gray;

/* transitions */

/* box-shadows */